{% extends 'base.html'%}

{% block title %}
Онлайн магазин
{% endblock %}

{% block body %}
<div class="container">
  <div class="pricing-header px-3 py-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4">ShopOnline</h1>
      <p class="fs-5 text-muted">Quickly build an effective pricing table for your potential customers with this
        Bootstrap  example. It’s built with default Bootstrap components and utilities with little customization.</p>
  </div>
</div>

<div class="container">
  <div class="card-deck md-3 text-center">
    {% for element in items %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 fw-normal">{{ element.title}}</h4>
          </div>

          <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ element.price}}<small class="text-muted">BYN</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Информация о товаре</li>
              <li>Отзывы</li>
            </ul>
            <a class="btn btn-lg btn-block btn-outline-primary" href="/buy/{{ element.id}}">Купить товар</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}